/**
 * @file
 * gen_person.css
 */

i.fa {
  padding-left: 0.3em;
}
i.fa-venus {
  color: magenta;
}

i.fa-mars {
  color: blue;
}

i.fa-circle-thin {
  color: black;
}

#modalBackdrop {
  background:  rgb(0,0,0) !important;
}

.no-touch .nonmodal-buttons {
  display: none;
}

.touch .modal-buttons {
  display: none;
}

.gender-nickname {
  clear: both;
}

.field-name-field-person-gender .control-label {
  display: none;
}

#modalContent .vertical-tabs,
#modalContent .node-form-revision-information {
  display: none;
}

.node-form .btn {
  float: right;
}

@media (max-width: 991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8 {
    padding-bottom: 1em;
  }
}
