/**
 * @file
 * gen_person.css
 */

i.fa {
  padding-left: 0.3em;
}
i.fa-venus {
  color: magenta;
}

i.fa-mars {
  color: blue;
}

i.fa-circle-thin {
  color: black;
}

#modalBackdrop {
  background:  rgb(0,0,0) !important;
}

.no-touch .nonmodal-buttons,
.no-touch .nonmodal-links {
  display: none;
}

.touch .modal-buttons,
.touch .modal-links {
  display: none;
}

.gender-nickname {
  clear: both;
}

.field-name-field-person-gender .control-label {
  display: none;
}

#modalContent .vertical-tabs,
#modalContent .node-form-revision-information {
  display: none;
}

.node-form .btn {
  float: right;
}

article.node-person {
  border: 3px solid #ddd;
  padding: 0.25em;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.person-view {
  float: left;
}

.person-view-buttons {
  width: 15%;
  float: right;
}
.person-view-buttons .btn {
  width: 100%;
}

.reference-links {
  padding-left: 0.5em;
}

@media (max-width: 991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8 {
    padding-bottom: 1em;
  }
  .person-view-buttons {
    width: 100%;
    float: left;
  }
  .person-view-buttons .btn {
    width: auto;
  }
  .person-view-buttons div {
    display: inline;
  }

}
