/**
 * @file
 * gen_person.css
 */

i.fa {
  padding-left: 0.3em;
}
i.fa-venus {
  color: magenta;
}

i.fa-mars {
  color: blue;
}

i.fa-circle-thin {
  color: black;
}

#modalBackdrop {
  background:  rgb(0,0,0) !important;
}

.no-touch .nonmodal-buttons {
  display: none;
}

.touch .modal-buttons {
  display: none;
}

.gender-nickname {
  clear: both;
}

#modalContent .vertical-tabs,
#modalContent .node-form-revision-information {
  display: none;
}
